
@import url('https://fonts.cdnfonts.com/css/hero-new');

body {
font-family: 'Hero New', sans-serif;
padding: 0;
margin:0;
}
.header{
    background-color: #1f2937;
    display:flex;
    justify-content: space-around;
    padding:25px;
}
.links {
    display: flex;
    gap:10px;
}
a {
    text-decoration: none;
    color: #e5e7eb;
}

.logo {
    color: #f9f8fa;
    font-size: 20px;
    font-weight: 800;
}
.main-img{
    width: 500px;
    height: 300px;
}
.top-container {
    background-color: #1f2937;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:100px;
    gap:30px;
}
.main-text{
    display:flex;
    flex-direction: column;
    width: 300px;
    color: #ffffff;
    gap:10px;
}
.signup{
    display:flex;
    background-color: #3882f6;
    color:#feffff;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-left:100px;
}
.main-title{
    font:800;
    font-size: 48px;
    color:#f9f8fa;
}
.main-desc{
    font-size: 18px;
    color: #e5e7eb;
}